<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <ul>
        <li><a  href="/">Home</a></li>
      <li><a href="/signup">Sign up</a></li>
      <li><a class="active" href="/login">Login</a></li>
      <li><a href="/database">Database</a></li>
      </ul>
    <form action="{{ url_for('login') }}" method="post" class="login" method="post">
      <div class="msg">{{ msg }}</div>
        <h2>Welcome, Student!</h2>
        <p>Please log in</p>
        <input type="text" name="username" id="username" placeholder="User Name" />
        <input type="password" id="password" name="password" placeholder="Password" />
        <input type="submit" value="Log In" />
        <div class="links">
          <a href="/signup">Register</a>
        </div>
      </form>
    <footer>
        <p>Copyright &copy; 2019 All Rights Reserved.</p>
      </footer>
</body>
</html>