<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign UP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <ul>
        <li><a  href="/">Home</a></li>
      <li><a class="active" href="/signup">Sign up</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/database">Database</a></li>
      </ul>
    <form action= "{{ url_for('signup') }}" class="login" method="post">
      <div class="msg">{{ msg }}</div>
        <h2>Welcome, Student!</h2>
        <p>Please Sign in</p>
        <input type="text" name="name" placeholder="Enter your name" required />
        <input type="text" name="username" placeholder="User name you wand" required />
        <input type="password" name="password" placeholder="Password" required />
        <input type="submit" value="Sign up" />
        <div class="links">
          <a href="/login">Login</a>
        </div>
      </form>
    <footer>
        <p>Copyright &copy; 2019 All Rights Reserved.</p>
      </footer>
</body>
</html>